body{
    margin: 0;
    padding: 0;
}
h1 {
    border: 1px solid black;
    display: inline-block;
}
.logo {
    width: 100px;
}
header {
    text-align: center;
 
}
nav li {
    display: inline;
    margin-right: 20px;
    padding: 60px;
}
nav a {
    text-decoration: none;
    color: black; 
}
nav a:hover {
    text-decoration: underline;
}
.img1 {
    width: 150px;

}
.welcome {
    padding: 20px;
    background-color: rgb(139, 0, 0);
    text-align: center;
    color: white;
}
.course {
    padding: 30px;
}
main {
    background-color: white;
    color: black;
}
p {
    font-size: 18px;
    line-height: 1.4;
}
.welcome h1, .course h2 {
    color: #ffffff;
}
.infocurso img {
    width: 225px;
    float: left;
    margin-right: 30px;
}
.infocurso {
    overflow: auto;
    margin-bottom: 30px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: lightgray;
}
image {
    width: 600px;
    border: 2px solid black;
}
















